<h1>What's cooking today?</h1>

<% if @orders.any? -%>
<table class="table">
  <thead>
    <tr>
      <th>Place</th>
      <th>Who's on it?</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| -%>
    <tr>
      <td>
        <%= link_to order.place, order_path(order) %>
        <br>
        <% if order.has_item_for?(current_user) -%>
          You're having
          <%= link_to edit_order_item_path(order, order.item_for(current_user)) do -%>
            <span class="label label-success"><%= order.item_for(current_user).name %></span><% end -%>.
        <% else -%>
          You didn't order anything.
          <%= link_to 'Place', new_order_item_path(order) %> your order now!
        <% end -%>
      </td>
      <td>
        <%= order.user.username %>
      </td>
      <td>
        <%= link_to 'Edit', edit_order_path(order), class: 'label' %>
        <%= link_to 'Delete', order_path(order), class: 'label label-important', method: :delete %>
      </td>
    </tr>
    <% end -%>
  </tbody>
</table>

Want something else? Go ahead and <%= link_to "order", new_order_path %>!
<% else -%>
There's nothing on the menu today. :(
Why don't you <%= link_to "order something", new_order_path %>?
<% end -%>